* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: whitesmoke;
  font-family: 'Muli', sans-serif;
}

/*#instructions-1 .card {
  border: 1px solid black;
  position: absolute;
  display: inline-block;
  width: 2.1rem;
  height: 3.1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
}*/

button.play-again {
  position: absolute;
  bottom: 90px;
  left: 170px;
  border: 2px solid #75ca9a;
  font-size: 18px;
  outline: 0;
}

.play-again {
  margin-bottom: 75px;
  transition: none;
}

button.start {
  /* position: absolute;
  top: 350px; */
  /* border: 2px solid #75ca9a; */
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
  outline: 0;
  margin-top: 260px;
}

button.start-instructions {
  margin-top: 20px;
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
  outline: 0;
}

.start-splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.start-splash-screen h1 {
  font-size: 48px;
}

.start-splash-screen p {
  font-size: 30px;
}

.instructions-modal-bg {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.instructions-modal {
  position: relative;
  margin-top: 20px;
}

p.current-turn {
  margin-bottom: 90px;
}

.log-item {
  text-align: center;
  height: 24px;
  border-bottom: 1px solid black;
}

.play-history {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
  width: 450px;
  height: 700px;
  overflow: auto;
  background: whitesmoke;
  position: relative;
  border-radius: 5px;
}

.play-history li:nth-of-type(2) {
  margin-top: 1.3em;
}

.play-history li {
  position: relative;
  border-bottom: 1px solid black;
  height: 120px;
  min-height: 120px;
  min-width: 250px;
  display: flex;
  justify-content: center;
  /* transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */
}

/*.play-history li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.play-history li, .play-history span {
  opacity: 1;
}*/

/*
.play-history li, .play-history span {
    transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }


  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: #60daaa;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: #60daaa; // Make borders visible
    border-right-color: #60daaa;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: #60daaa; // Make borders visible
    border-left-color: #60daaa;
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}*/

/*.play-history li:last-child {
  border-bottom: 1px solid black;
}*/

.log-item:hover, .play-history li:hover {
  transition: background-color 0.5s ease;
  background-color: #AEF7C9;
}

.game {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

ul {
  padding: 0;
}

.playing-field, 
.instructions-modal {
  position: relative;
  min-width: 700px;
  background: #7AA67A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 700px;
  height: 700px;
  border-radius: 5px;
  align-items: center;
}

.start-instructions-in-game {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  font-size: 16px;
  height: 40px;
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
}

.instructions {
  margin: 0 auto;
  align-items: center;
  min-width: 700px;
  width: 90vw;
}

.instructions ul {
  margin-top: 5px;
  list-style-type: none;
}

.instructions li {
  padding: 5px 0;
  text-align: center;
  position: relative;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3B6F3B;
  height: 100%;
  width: 100%;
}

.played-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid transparent;
  position: relative;
  text-align: center;
  width: 420px;
  height: 420px;
  background: #7AA67A;
}

.CPU-player1, .CPU-player2, .CPU-player3 {
  position: relative;
}

.CPU-player-name1 {
  position: absolute;
  white-space: nowrap;
  top: 225px;
  left: 135px;
  z-index: 2;
  -webkit-transform: rotate(90deg);
}

.CPU-player-name2 {
  position: absolute;
  white-space: nowrap;
  top: 155px;
  left: 217.5px;
  z-index: 2;
}

.CPU-player-name3 {
  position: absolute;
  white-space: nowrap;
  top: 225px;
  right: 135px;
  z-index: 2;
  -webkit-transform: rotate(-90deg);
}

.human-player-hand {
  position: relative;
}

.CPU-player-hand2, .human-player-hand, .CPU-player-hand0 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 125px;
  background: #7AA67A;
}

.human-player-hand > .card {
  z-index: 2;
  top: 5px;
  transition: ease .2s;
}

.human-player-hand > .card:hover {
  cursor: pointer;
  background: beige;
  top: -5px;
}

.human-player-hand > .selected {
  top: -5px;
}

.human-player-hand > .selected:hover {
  top: -5px;
  background: blanchedalmond;
}

.human-player {
  /*position: relative;
  display: flex;
  align-items: center;*/
  /*flex-direction: column;*/
}

.human-player-played-hand {
  position: absolute;
  display: flex;
  align-items: center;
  top: -127px;
  width: 300px;
  height: 125px;
  border: 1px solid black;
}

button.pass-button {
  position: absolute;
  /*bottom: 20px;
  right: -57.5px;*/
  right: 80px;
  /* background: #cef5ce; */
  /* border: 2px solid #75ca9a; */
  /* color: black; */
  /* font-size: 14px; */
}

button.play-button {
  position: absolute;
  left: 80px;
  /*bottom: 75px;
  right: -75px;*/
  /* background: #cef5ce; */
  /* border: 2px solid #75ca9a; */
  /* color: black; */
  /* font-size: 14px; */
}

button.play-button,
button.pass-button {
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
  width: 140px;
  top: -95px;
  margin-bottom: 20px;
  transition: none;
}

button:hover:enabled {
  cursor: pointer;
  background: #386A38;
  transition: ease .3s;
}

button:disabled {
  background: #ececece6;
  color: #9c9c9c;
}

.CPU-player-hand1, .CPU-player-hand3 {
  position: relative;
  width: 125px;
  height: 500px;
  background: #7AA67A;
}

.CPU-player-hand1 .card, .CPU-player-hand3 .card {
  /*position: absolute;*/
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*.CPU.player.played-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 95px;
  border: 1px solid black;
}*/

.card {
  border: 1px solid black;
  position: absolute;
  display: inline-block;
  width: 3.875rem;
  height: 5.5rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card .back {
  position: absolute;
  background-image: url("faces/back.png");
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card.spades,
.card.clubs,
.card.joker {
  color: #000;
}
.card.hearts,
.card.diamonds,
.card.joker.rank3 {
  color: #d40000;
}
.card.joker.rank1:before,
.card.joker.rank2:before,
.card.joker.rank3:before,
.card.joker.rank1:after,
.card.joker.rank2:after,
.card.joker.rank3:after {
  content: "J\a O\a K\a E\a R";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card.rank1:before,
.card.rank1:after {
  content: "A";
}
.card.rank2:before,
.card.rank2:after {
  content: "2";
}
.card.rank3:before,
.card.rank3:after {
  content: "3";
}
.card.rank4:before,
.card.rank4:after {
  content: "4";
}
.card.rank5:before,
.card.rank5:after {
  content: "5";
}
.card.rank6:before,
.card.rank6:after {
  content: "6";
}
.card.rank7:before,
.card.rank7:after {
  content: "7";
}
.card.rank8:before,
.card.rank8:after {
  content: "8";
}
.card.rank9:before,
.card.rank9:after {
  content: "9";
}
.card.rank10:before,
.card.rank10:after {
  content: "10";
}
.card.rank11:before,
.card.rank11:after {
  content: "J";
}
.card.rank12:before,
.card.rank12:after {
  content: "Q";
}
.card.rank13:before,
.card.rank13:after {
  content: "K";
}
.card.spades.rank1 .face {
  background-image: url("faces/0_1.svg");
}
.card.spades.rank2 .face {
  background-image: url("faces/0_2.svg");
}
.card.spades.rank3 .face {
  background-image: url("faces/0_3.svg");
}
.card.spades.rank4 .face {
  background-image: url("faces/0_4.svg");
}
.card.spades.rank5 .face {
  background-image: url("faces/0_5.svg");
}
.card.spades.rank6 .face {
  background-image: url("faces/0_6.svg");
}
.card.spades.rank7 .face {
  background-image: url("faces/0_7.svg");
}
.card.spades.rank8 .face {
  background-image: url("faces/0_8.svg");
}
.card.spades.rank9 .face {
  background-image: url("faces/0_9.svg");
}
.card.spades.rank10 .face {
  background-image: url("faces/0_10.svg");
}
.card.spades.rank11 .face {
  background-image: url("faces/0_11.svg");
}
.card.spades.rank12 .face {
  background-image: url("faces/0_12.svg");
}
.card.spades.rank13 .face {
  background-image: url("faces/0_13.svg");
}
.card.hearts.rank1 .face {
  background-image: url("faces/1_1.svg");
}
.card.hearts.rank2 .face {
  background-image: url("faces/1_2.svg");
}
.card.hearts.rank3 .face {
  background-image: url("faces/1_3.svg");
}
.card.hearts.rank4 .face {
  background-image: url("faces/1_4.svg");
}
.card.hearts.rank5 .face {
  background-image: url("faces/1_5.svg");
}
.card.hearts.rank6 .face {
  background-image: url("faces/1_6.svg");
}
.card.hearts.rank7 .face {
  background-image: url("faces/1_7.svg");
}
.card.hearts.rank8 .face {
  background-image: url("faces/1_8.svg");
}
.card.hearts.rank9 .face {
  background-image: url("faces/1_9.svg");
}
.card.hearts.rank10 .face {
  background-image: url("faces/1_10.svg");
}
.card.hearts.rank11 .face {
  background-image: url("faces/1_11.svg");
}
.card.hearts.rank12 .face {
  background-image: url("faces/1_12.svg");
}
.card.hearts.rank13 .face {
  background-image: url("faces/1_13.svg");
}
.card.clubs.rank1 .face {
  background-image: url("faces/2_1.svg");
}
.card.clubs.rank2 .face {
  background-image: url("faces/2_2.svg");
}
.card.clubs.rank3 .face {
  background-image: url("faces/2_3.svg");
}
.card.clubs.rank4 .face {
  background-image: url("faces/2_4.svg");
}
.card.clubs.rank5 .face {
  background-image: url("faces/2_5.svg");
}
.card.clubs.rank6 .face {
  background-image: url("faces/2_6.svg");
}
.card.clubs.rank7 .face {
  background-image: url("faces/2_7.svg");
}
.card.clubs.rank8 .face {
  background-image: url("faces/2_8.svg");
}
.card.clubs.rank9 .face {
  background-image: url("faces/2_9.svg");
}
.card.clubs.rank10 .face {
  background-image: url("faces/2_10.svg");
}
.card.clubs.rank11 .face {
  background-image: url("faces/2_11.svg");
}
.card.clubs.rank12 .face {
  background-image: url("faces/2_12.svg");
}
.card.clubs.rank13 .face {
  background-image: url("faces/2_13.svg");
}
.card.diamonds.rank1 .face {
  background-image: url("faces/3_1.svg");
}
.card.diamonds.rank2 .face {
  background-image: url("faces/3_2.svg");
}
.card.diamonds.rank3 .face {
  background-image: url("faces/3_3.svg");
}
.card.diamonds.rank4 .face {
  background-image: url("faces/3_4.svg");
}
.card.diamonds.rank5 .face {
  background-image: url("faces/3_5.svg");
}
.card.diamonds.rank6 .face {
  background-image: url("faces/3_6.svg");
}
.card.diamonds.rank7 .face {
  background-image: url("faces/3_7.svg");
}
.card.diamonds.rank8 .face {
  background-image: url("faces/3_8.svg");
}
.card.diamonds.rank9 .face {
  background-image: url("faces/3_9.svg");
}
.card.diamonds.rank10 .face {
  background-image: url("faces/3_10.svg");
}
.card.diamonds.rank11 .face {
  background-image: url("faces/3_11.svg");
}
.card.diamonds.rank12 .face {
  background-image: url("faces/3_12.svg");
}
.card.diamonds.rank13 .face {
  background-image: url("faces/3_13.svg");
}
.card.joker.rank1 .face {
  background-image: url("faces/4_1.svg");
}
.card.joker.rank2 .face {
  background-image: url("faces/4_2.svg");
}
.card.joker.rank3 .face {
  background-image: url("faces/4_3.svg");
}
@media (max-width: 540px) {
  #topbar {
    text-align: left;
  }
  .gh-ribbon {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 125%;
  }
}

.instructions .card, .play-history .card {
  border: 1px solid black;
  position: absolute;
  display: inline-block;
  width: 2.7rem;
  height: 3.9rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
}

.instructions .card:before,
.instructions .card:after,
.play-history .card:before,
.play-history .card:after {
  position: absolute;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.5rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 0.35rem;
}

.card-container {
  position: relative;
  height: 80px;
  margin-top: 10px;
}

/* #test {
  border: 1px solid red;
  width: calc(50% - 8px);
  height: 2000px;
  position: absolute;
} */

.title h1 {
  margin: 25px 0 5px 0;
}

.title h3 {
  margin: 5px 0 25px 0;
  font-weight: normal;
}

.horizontal-line {
  width: 75vw;
  margin: 5px auto;
  border-bottom: 1px solid black;
}

button {
  background: #558755;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  color: #e6f1e6;
  border: none;
  font-size: 18px;
  outline: 0;
}

.played-cards-container {
  margin-top: 65px;
}

.currentPlayer0 {
  border-bottom: 10px solid #AAC9AA;
}

.currentPlayer1 {
  border-left: 10px solid #AAC9AA;
}

.currentPlayer2 {
  border-top: 10px solid #AAC9AA;
}

.currentPlayer3 {
  border-right: 10px solid #AAC9AA;
}

.next-instructions-page,
.prev-instructions-page,
.close-instructions-page {
  position: absolute;
  background: none;
  width: 40px;
  height: 40px;
}

.next-instructions-page {
  top: 50%;
  right: 0;
}

.prev-instructions-page {
  top: 50%;
  left: 0;
}

.close-instructions-page {
  top: 0;
  right: 0;
}

.instructions-page {
  position: absolute;
  bottom: 0;
}

.instructions-modal p,
.instructions-modal ul,
.instructions-modal h1 {
  margin: 40px;
  text-align: center;
}

.instructions-modal li {
  list-style-type: none;
  margin: 20px;
}

li.history-recent-header {
  position: absolute;
  top: 0;
  min-height: 1.3em;
  height: 1.3em;
}